<!--TOP NAV BAR--><!--TOP NAV BAR--><!--TOP NAV BAR--><!--TOP NAV BAR--><!--TOP NAV BAR-->
<!--TOP NAV BAR--><!--TOP NAV BAR--><!--TOP NAV BAR--><!--TOP NAV BAR--><!--TOP NAV BAR-->
    <nav class="navbar navbar-expand-lg bg-white border-bottom">
        <div class="container">
            <a class="navbar-brand fw-bold fs-4">BuscoBrete</a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="menu">
                <ul class="navbar-nav align-items-center gap-3">
                    <li class="nav-item">
                        <a class="nav-link">Inicio</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link">Buscar empleos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link">Iniciar sesión</a>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-primary">Registrarse</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<!--TOP NAV BAR--><!--TOP NAV BAR--><!--TOP NAV BAR--><!--TOP NAV BAR--><!--TOP NAV BAR-->
<!--TOP NAV BAR--><!--TOP NAV BAR--><!--TOP NAV BAR--><!--TOP NAV BAR--><!--TOP NAV BAR-->

<!-- FOOTER --><!-- FOOTER --><!-- FOOTER --><!-- FOOTER --><!-- FOOTER --><!-- FOOTER -->
<!-- FOOTER --><!-- FOOTER --><!-- FOOTER --><!-- FOOTER --><!-- FOOTER --><!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="row text-center text-md-start">
                <div class="col-md-3 mb-4">
                    <h5 class="fw-bold">
                        BuscoBrete
                    </h5>
                    <p class="small text-md-start">
                        Encuentra oportunidades laborales<br>en tecnología y negocios.
                    </p>
                    <a href="https://instagram.com"><img src="../img/instagram.png" alt="instagram icon"
                        width="24" height="24"></a>
                    <a href="https://facebook.com"><img src="../img/facebook.png" alt="facebook icon" 
                        width="24" height="24"></a>
                    <a href="https://linkedin.com"><img src="../img/linkedin.png" alt="linkedin icon" 
                        width="24" height="24"></a>
                    <a href="https://www.youtube.com"><img src="../img/youtube.png" alt="youtube icon" 
                        width="24" height="24"></a>
                </div>
                <div class="col-md-3">
                    <h6 class="fw-bold ">Plataforma</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">Buscar empleos</a></li>
                        <li><a href="#">Publicar empleo</a></li>
                        <li><a href="#">Crear cuenta</a></li>
                        <li><a href="#">Iniciar sesión</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h6 class="fw-bold">Recursos</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Consejos de CV</a></li>
                        <li><a href="#">Guía de entrevistas</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h6 class="fw-bold">Legal</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">Términos y condiciones</a></li>
                        <li><a href="#">Política de privacidad</a></li>
                        <li><a href="#">Cookies</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- SUBFOOTER -->
    <div class="subfooter text-center ">
        <div class="d-flex container align-items-center gap-5">
            <p class="mx-0">
                © 2026 BuscoBrete. Todos los derechos reservados
            </p>
            <p class="mx-0" href="#">
                Términos de servicio y privacidad
            </p>
        </div>
    </div>
<!-- FOOTER --><!-- FOOTER --><!-- FOOTER --><!-- FOOTER --><!-- FOOTER --><!-- FOOTER -->
<!-- FOOTER --><!-- FOOTER --><!-- FOOTER --><!-- FOOTER --><!-- FOOTER --><!-- FOOTER -->